{%  extends 'main/main.html' %}
{% block content %}
{%  include 'tables/status_projects.html' %}

<div class="row">
	<div class="col-md">

		<div class="card card-body">
			<table class="table table-sm">
				<h5>My projects</h5>
				<tr>
					<th></th>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

				{% for project in projects %}

				<tr>
					<td><a class="btn btn-sm btn-info"
							   href="{%url 'dashboard' project.id%}">View</a></td>
					<td>{{project.name}}</td>
					<td>{{project.description}}</td>
					<td>{{project.data_created}}</td>
					<td>{{project.project_status}}</td>
				</tr>

				{% endfor %}

			</table>
		</div>
	</div>
</div>


<div class="row">
<div class="col-md">

		<div class="card card-body">
			<table class="table table-sm">
				<h5>Other projects</h5>
				<tr>
					<th></th>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

				{% for project in all_projects %}

				<tr>
					<td><a class="btn btn-sm btn-info"
							   href="{%url 'dashboard' project.id%}">View</a></td>
					<td>{{project.name}}</td>
					<td>{{project.description}}</td>
					<td>{{project.data_created}}</td>
					<td>{{project.project_status}}</td>
				</tr>

				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock content %}